<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <h4 class="font-weight-bold mb-4">You are not logged in</h4>
        <a href="articles/">
            <button class="btn btn-dark">Articles</button>
        </a>
        <a href="login/">
            <button class="btn btn-success">Login</button>
        </a>
        <a href="register/">
            <button class="btn btn-success">Register</button>
        </a>
    </div>
</body>
</html>