<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <h4 class="font-weight-bold">You are logged in</h4>
        <div class="card mt-4" style="width: 18rem;">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Username : {{ username }}</li>
            {% load auth_extras %}
                {% if request.user|has_group:"Redactor" %}
                    <li class="list-group-item">Status: Redactor</li>
                {% else %}
                    <li class="list-group-item">Status: User</li>
                {% endif %}
            </ul>
        </div>
        <a href="articles/">
            <button class="btn btn-dark mt-4">Articles</button>
        </a>
        <form method="post" action="{% url 'logout' %}?next={% url 'acc_info' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-1">logout</button>
        </form>
    </div>
</body>
</html>