<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <p>You are logged in</p>
        <p>Username : {{ username }}</p>
        {% load auth_extras %}
            {% if request.user|has_group:"Redactor" %} 
                <p>Status: Redactor</p>
            {% else %} 
                <p>Status: User</p>
            {% endif %}
        <a href="articles/">
            <button class="btn btn-dark">Articles</button>
        </a>
        <form method="post" action="{% url 'logout' %}?next={% url 'acc_info' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">logout</button>
        </form>
    </div>
</body>
</html>