<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статьи</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Game</th>
                {% if user.is_authenticated %}
                    {% load auth_extras %}
                    {% if request.user|has_group:"Redactor" %}
                        <th>Redactor Action</th>
                    {% endif %}
                {% endif %}
            </tr>
            {% for article in articles %}
                <tr>
                    <td>
                        <a href="{{ article.id }}">
                            {{ article.title }}
                        </a>
                    </td>
                    <td>{{ article.author }}</td>
                    <td>{{ article.game }}</td>
                    {% if user.is_authenticated %}
                        {% load auth_extras %}
                        {% if request.user|has_group:"Redactor" %}
                            <td>
                                <a href="delete_article/{{ article.id }}">
                                    <button class="btn btn-danger">Delete Article</button>
                                </a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% if user.is_authenticated %}
            {% load auth_extras %}
            {% if request.user|has_group:"Redactor" %}
                <a href="add_article/">
                    <button class="btn btn-success">Add Article</button>
                </a>
            {% endif %}
        {% endif %}
        <a href="{% url 'acc_info' %}">
            <button class="btn btn-dark">My account</button>
        </a>
        <a href="{% url 'show_games' %}">
            <button class="btn btn-dark">Show Games</button>
        </a>
    </div>
</body>
</html>