<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Games</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <table>
            {% for game in games %}
            <tr>
                {% if game.genre.title == genre_title %}
                    <td>
                        {{ game.title }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
        <a href="{% url 'articles' %}">
            <button class="btn btn-dark">Return</button>
        </a>
    </div>
</body>
</html>