<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose genre</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <h4 class="font-weight-bold mb-3">Choose Genre:</h4>
        <table>
            {% for genre in genres %}
                <tr>
                    <td>
                        <a href="{{ genre.title }}/">
                            <button class="btn btn-dark">{{ genre.title }}</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>