<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose genre</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <p>Choose Genre:</p>
    <table>
        {% for genre in genres %}
            <tr>
                <td>
                    <a href="{{ genre.title }}/">
                        <button class="btn btn-dark">{{ genre.title }}</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>